// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@tailwind base;
@tailwind components;
@tailwind utilities;


.color-main{
  background : linear-gradient(#E63E0F 0%, #F3A104 100%) no-repeat 50% 50% / 100% 100%;
}

.bg-yellow-abs{
  background-color: #f6df01;
}

.bg-purple-foot{
  background-color: #3c01c7;
}

.bg-green-yoga{
  background-color: #4fce93;
}

.bg-pink-heel{
  background-color: #f05969;
}

.bg-red-arm{
  background-color:#e23216;
}
